<app-navbar></app-navbar>
<mat-sidenav-container>
  <mat-sidenav-content>
<!-- Der Kommentierte Code ist dazu da, eine Ladesequenz/-seite zu laden/zeigen bis die richtige Seite geladen ist   -->
    <!--<div class="page-layout" *ngIf="isAuth0Loading$ | async; else auth0Loaded">
      <app-page-loader></app-page-loader>
    </div>
    <ng-template #auth0Loaded>
      <router-outlet></router-outlet>
    </ng-template>-->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
