@import "../_palette.scss";

mat-sidenav-container{
  height: 100svh;
}

.content{
  height: 91%;
  z-index: -500;
}

mat-sidenav{
  width: 50%;
}

.navbar-content{
  height: 9%;
}

.navbar{
  width: 100%;
  height: 66px;
  z-index: 100000;

  position: fixed;
}

.navbar-mobile{
  background-color: map-get($primary, 100);
  height: 64px;
  width: 100%;
  display: flex;
  .logoWrapper{
    height: 100%;
    width: 20%;
    .logo{
      height: 70%;
      width: 70%;
      margin: 8px;
    }
  }
  .example-spacer{
    width: 80%;
    height: 20%;
  }
  .menuButton{
    height: 100%;
    width: 16%;
    text-align: center;
    .menu{
      height: 100%;
      width: 100%;
      font-size: 2.5rem;
    }
  }
}

