mat-sidenav{
  width: 50%;
}

.navbar{
  width: 100%;
  height: 64px;
}

.navbar-mobile{
  background-color: rgba(0,0,0,0);
  height: 64px;
  .logoWrapper{
    height: 100%;
    width: 20%;
    .logo{
      height: 100%;
      width: 100%;
    }
  }
  .example-spacer{
    width: 80%;
  }
  .menuButton{
    height: 100%;
    width: 20%;
    .menu{
      height: 100%;
      width: 100%;
      font-size: 2.5rem;
    }
  }
}
.mat-elevation-z5 {
  position: relative;
}
.sticky {
  position: fixed;
  top: 0px;
}
