<mat-sidenav-container [ngStyle]="backgroundImageStyles">
<!--  -->
  <mat-sidenav mode="over" #sidenav position="end">
    <app-sidenav (toggleSidenav)="toggleSidenav()"></app-sidenav>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="navbar" >
<!--      [ngClass]="{'mat-elevation-z5': true, 'sticky': isSticky}"-->
      <div *ngIf="device === 'WebLandscape', else elseBlock" class="navbar-desktop">
        <app-navbar></app-navbar>
      </div>
      <ng-template #elseBlock>
        <div class="navbar-mobile" >
          <div routerLink="/" class="logoWrapper">
            <mat-icon class="logo" svgIcon="streetbeatz"></mat-icon>
          </div>

          <div class="example-spacer"></div>

          <button mat-icon-button class="menuButton" (click)="sidenav.toggle()">
            <mat-icon class="menu">menu</mat-icon>
          </button>
        </div>
      </ng-template>
    </div>
  </mat-sidenav-content>

  <mat-sidenav-content class="content">
      <router-outlet (activate)="changeBackgroundImageStyle()" ></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
