$secondary-color: purple; //mat.get-color-from-palette($mat-light-theme, accent, 500);

.performances-list {
  max-width: 850px;
  border: rgba(0,0,0,0.12) solid 3px;

  .add-performance-button {
    background: none;
    border: none;
    box-shadow: none;
    color: #800080FF;
    flex: 1;
    padding: 0 5px;
    width: 100%;
    height: 50px;
  }

  mat-divider {
    border-top-width: 5px;
  }

  .checkbox {

  }

  .change {
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      background-color: transparent;
      color: $secondary-color;
      margin: 0 5px;
      height: 150%;
      box-shadow: none;
    }
  }
}
