<mat-tab-group>
  <mat-tab label="Performances">
    <div class="performances-list">
      <button mat-button color="primary" matTooltip="Add a performance" class="add-performance-button" (click)="addPerformance()">
        <mat-icon>add</mat-icon>
      </button>
      <mat-divider vertical="false" [inset]></mat-divider>
      <div class="change">
        <mat-checkbox class="checkbox"><strong>Mark all performances</strong></mat-checkbox>
        <button mat-fab color="primary" matTooltip="Delete the marked performances" (click)="deleteMarkedPerformances()">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      <div *ngFor="let performance of verbosePerformances;">
        <mat-divider vertical="false" [inset]></mat-divider>
        <app-performance-tile [performance]="performance" [isAdmin]="true"></app-performance-tile>
      </div>
      <mat-divider vertical="false" [inset]></mat-divider>
    </div>
  </mat-tab>
  <mat-tab label="Voting">
    <!-- Voting Bereich -->
  </mat-tab>
</mat-tab-group>
