<mat-tab-group>
  <mat-tab label="Performances">
    <div class="performanceWrapper">
      <button mat-button color="primary" matTooltip="Add a performance" class="add-performance-button" (click)="addPerformance()">
        <mat-icon>add</mat-icon>
      </button>
      <mat-divider vertical="false" [inset]></mat-divider>
      <app-performance-view [isAdmin]="true"></app-performance-view>
      <mat-divider vertical="false" [inset]></mat-divider>
    </div>
  </mat-tab>
  <mat-tab label="Voting">
    <div class="votingWrapper">

    </div>
  </mat-tab>
</mat-tab-group>
