@import "../../../_palette.scss";

.performanceWrapper {
  max-width: 850px;
  border: rgba(0,0,0,0.12) solid 3px;

  .add-performance-button {
    background-color: map-get($primary, 500);
    border: none;
    box-shadow: none;
    flex: 1;
    padding: 0 5px;
    width: 100%;
    height: 50px;

    mat-icon{
      height: 100%;
      width: 40%;
      font-size: 3rem;
      color: map-get(map-get($primary, contrast), A700);
    }
  }
}

mat-divider {
  border-top-width: 5px;
}

.votingWrapper{
  //height: 100%;
}
