//@use '@angular/material' as mat;
@import "../../../../_palette.scss";

.background{
  width: 30rem;
  height: 11rem;
  border: solid 4px white;
  border-radius: 10px;
  background-color: map-get($primary, 50);

  @media screen and (max-width: 599.9px){
    width: 15rem;
    height: 7rem;
  }

  @media screen and (max-width: 839.9px) and (min-width: 600px){
    width: 24rem;
    height: 9rem;
  }

  h2{
    color: map-get(map-get($primary, contrast), 500);
    @media screen and (max-width: 839.9px) and (min-width: 600px){
      font-size: 2.4rem;
    }
    @media screen and (min-width: 1280px){
      font-size: 2.6rem;
    }
  }

  .spacer{
    width: 5%;
    @media screen and (max-width: 839.9px) and (min-width: 600px){
      width: 10%;
    }
    @media screen and (min-width: 1280px){
      width: 13%;
    }
  }

  .leftButton{
    color: map-get(map-get($primary, contrast), 500);
    @media screen and (max-width: 839.9px) and (min-width: 600px){
      font-size: 1.2rem;
      padding: 20px;
    }
    @media screen and (min-width: 1280px){
      font-size: 1.4rem;
      padding: 20px;
    }
  }

  .rightButton{
    color: map-get(map-get($primary, contrast), 500);
    @media screen and (max-width: 839.9px) and (min-width: 600px){
      font-size: 1.2rem;
      padding: 20px;
    }
    @media screen and (min-width: 1280px){
      font-size: 1.4rem;
      padding: 20px;
    }
  }
}

