<head>
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
</head>
<mat-toolbar class="navbar" color="primary">
  <object class="logo" type="image/svg+xml" data="./assets/streetbeatzLogo/logo.svg"></object>

  <object class="title" type="image/svg+xml" data="./assets/streetbeatzLogo/Streetbeatz(1).svg"></object>

  <span class="example-spacer"></span>

  <mat-nav-list class="list">
    <a mat-list-item routerLink="/">Home</a>
    <a mat-list-item routerLink="/performances">Performances</a>
    <a mat-list-item routerLink="/map">Map</a>
    <a mat-list-item routerLink="/vote">Vote</a>
    <a mat-list-item routerLink="">Lorem</a>
  </mat-nav-list>
</mat-toolbar>
