<head>
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
  <title>Desktop-Navbar</title>
</head>
<mat-toolbar class="navbar" color="primary">
  <a routerLink="/" class="logoTitle">
    <mat-icon class="logo" svgIcon="streetbeatz"></mat-icon>
    <h1 class="title" [ngStyle]="{'font-family': 'Teko, sans-serif', 'color': '#000000', 'font-size': '2.75rem'}">
      Streetbeatz
    </h1>
  </a>

<!--  <object class="logo" type="image/svg+xml" data="./assets/streetbeatzLogo/logo.svg"></object>-->
<!--  <object class="title" type="image/svg+xml" data="./assets/streetbeatzLogo/Streetbeatz(1).svg"></object>-->

  <span class="example-spacer"></span>

  <mat-nav-list class="list">
    <a mat-list-item routerLink="/">Home</a>
    <a mat-list-item routerLink="/performances">Performances</a>
    <a mat-list-item routerLink="/map">Map</a>
    <a mat-list-item routerLink="/vote">Vote</a>
    <ng-container *ngIf="isAuthenticated$ | async;">
      <a mat-list-item>
        <app-logout-button></app-logout-button>
      </a>
    </ng-container>
  </mat-nav-list>
</mat-toolbar>
