.navbar{
  position: fixed;
  z-index: 2;

  .logo{
    max-height: 50px;
    max-width: 50px;
    text-align: center;
    margin: 5px;
  }

  .title{
    max-height: 40%;
    max-width: 40%;
    text-align: center;
    margin-left: 0.7rem;
  }

  .example-spacer {
    flex: 1 1 auto;
  }

  .list {
    list-style: none;
    display: flex;
    a {
      width: auto;
    }
  }
}
