<mat-toolbar class="navbar" color="primary">
  <object class="logo" type="image/svg+xml" data="./assets/streetbeatzLogo/logo.svg"></object>

  <object class="title" type="image/svg+xml" data="./assets/streetbeatzLogo/StreetBeatz.svg"></object>
<!--  <h1 class="title">StreetBeatz</h1>-->

  <span class="example-spacer"></span>

  <mat-nav-list class="list">
    <a mat-list-item routerLink="/">Home</a>
    <a mat-list-item routerLink="/performances">Performances</a>
    <a mat-list-item routerLink="">Map</a>
    <a mat-list-item routerLink="">Vote</a>
    <a mat-list-item routerLink="">Lorem</a>
  </mat-nav-list>
</mat-toolbar>
