<mat-toolbar class="navbar">
  <a routerLink="/" class="logoTitle">
    <mat-icon class="logo" svgIcon="streetbeatz"></mat-icon>
    <h1 class="title" [ngStyle]="{'font-family': 'Teko, sans-serif', 'font-size': '2.75rem'}">
      StreetbeatzLB
    </h1>
  </a>

  <span class="example-spacer"></span>

  <mat-nav-list class="list">
    <a mat-list-item routerLink="/"><p>Home</p></a>
    <a mat-list-item routerLink="/performances"><p>Performances</p></a>
    <a mat-list-item routerLink="/map"><p>Map</p></a>
    <a mat-list-item routerLink="/vote"><p>Vote</p></a>
    <ng-container *ngIf="isAuthenticated$ | async;">
      <a mat-list-item routerLink="/admin-view"><p>Admin</p></a>
      <a mat-list-item>
        <app-logout-button></app-logout-button>
      </a>
    </ng-container>
  </mat-nav-list>
</mat-toolbar>
