@import "../../../../_palette.scss";

$isLightBackground: var(--lightBackground);
$text-white: map-get(map-get($primary, contrast), 500);
$text-black: map-get(map-get($primary, contrast), 400);

mat-toolbar {
  background-color: map-get($primary, 100);
}

.navbar{
  position: fixed;
  z-index: 2;

  .logoTitle{
    display: flex;
    text-decoration: none;

    .logo{
      height: 3.5rem;
      width: 3.5rem;
      text-align: center;
    }
    .title{
      margin-left: 0.7rem;
      margin-top: 0.7rem;
    }
  }

  .example-spacer {
    flex: 1 1 auto;
  }
  .list {
    list-style: none;
    display: flex;
    color: map-get(map-get($primary, contrast), 500);
    a {
      width: auto;
    }
  }
}
