@import "../../../../_palette.scss";

// color palette from theme
$tile-color: map-get($primary, 300);
$border-color: map-get($primary, 200);
$text-color: map-get(map-get($primary, contrast), 50);
$stage-color: map-get(map-get($primary, contrast), 50);
$button-color: orange;

.performance-tile-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-height: 100px;
  height: 100px;
  max-height: 150px;
  max-width: 100%;
  overflow: hidden;
  background-color: $tile-color;
  border-radius: 20px;
  border: $border-color solid 4px;
  margin: 0 10px;
  padding-top: 10px;

  .left-column {
    margin-left: 7px;
    margin-right: 8px;
    flex: 2;
    width: 20%;
    max-width: 100px;
    height: 100%;
    overflow: hidden;
    background-color: transparent;

    @media screen and (max-width: 400px) {
      max-width: 60px;
    }

    .stage {
      color: $stage-color;
      font-size: 20px;
      font-weight: bold;
      display: flex;
      align-items: center;
      height: 100%;

      p {
        font-size: 2.8rem;
      }

      &::before {
        content: 'STAGE';
        margin-right: 4px;
        margin-left: 2px;
        writing-mode: vertical-rl;
        text-orientation: mixed;
        font-size: 12px;
        font-weight: normal;
        color: $stage-color;
      }

      @media screen and (max-width: 400px) {
        .p {
          font-size: 0.8rem;
        }

        &::before {
          font-size: 10px;
        }
      }
    }
  }

  .middle-column {
    flex: 4;
    height: 100%;
    color: $text-color;

    .description {
      display: flex;
      flex-direction: column;
      justify-content: center;
      overflow: hidden;

      .artist {
        font-size: 19px;
      }

      .time {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-size: 1.2rem;

        @media screen and (max-width: 400px) {
          p {
            font-size: 0.8rem;
          }

          p:first-child {
            margin-bottom: 2px;
          }
        }

        p {
          margin: 0;
        }

        p:first-child {
          margin-bottom: 5px;
        }
      }
    }
  }

  .right-column {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;

    .navigate {
      padding-right: 1rem;
      color: $button-color;

      button {
        color: $text-color;
        margin-right: 10px;
        box-shadow: none;
      }
    }

    .change {
      display: flex;
      justify-content: center;
      padding-right: 1rem;
      color: $button-color;

      button {
        color: $text-color;
        flex: 1;
        margin: 0 5px;
        height: 150%;
        box-shadow: none;

        .leftButton {
          margin-right: 0.7rem;
        }
      }
    }
  }
}
