<div class="performance-tile-wrapper">
  <div class="left-column">
    <div class="stage">
      <p><strong>{{ performance.stage }}</strong></p>
    </div>
  </div>
  <div class="middle-column">
    <div class="description">
      <div class="artist">
        <strong>{{ performance.artist }}</strong>
      </div>
      <div class="time">
        <p>{{ performance.start_time | date: 'EEEE, dd.MM.yy' }}</p>
        <p>{{ performance.start_time | date: 'shortTime' }} - {{ performance.end_time | date: 'shortTime' }}</p>
      </div>
    </div>
  </div>
  <div class="right-column">
    <div class="navigate">
      <button mat-fab color="primary" (click)="showLocation(performance.stage)">
        <mat-icon>map</mat-icon>
        <mat-icon>chevron_right</mat-icon>
      </button>
    </div>
  </div>
</div>
