@import "../../../../_palette.scss";

$text-color: map-get(map-get($primary, contrast), 50 );
$glassEffect: map-get($primary, 50);

.background{
  display: flex;
  flex-direction: column;

  .toggleButton{
    overflow-y: hidden;
    align-self: center;
    .button{
      span{
        //color: $text-color;
        font-size: 5.5vw;
      }
    }
  }
  .result{
    background-color: $glassEffect;
    margin: 5%;

    app-glass-effect-box{
      span{
        margin: 5%;
      }
    }
  }
}

mat-divider {
  border-top-width: 5px;
  max-height: 5px;
}
