@import "../../../../_palette.scss";

.background{
  //height: 100%;
  display: flex;
  flex-direction: column;

  .toggleButton{
    //background-color: white;
    overflow-y: hidden;
    align-self: center;
    .button{
      font-size: 3vw;
    }
  }
  .result{
    background-color: map-get($primary, 50);
    margin: 5%;

    app-glass-effect-box{
      //background-color: #FFC107;
      //margin: 1px;
      span{
        //background-color: #E8E8E8;
        margin: 5%;
      }
    }
  }
}

mat-divider {
  border-top-width: 5px;
  max-height: 5px;
}
