<div *ngIf="device === 'Web', else elseBlock">
  <div class="performances-wrapper-desktop">
    <app-filter></app-filter>
    <mat-divider vertical="false" [inset]></mat-divider>
    <div class="performances-list">
      <div *ngFor="let performance of verbosePerformances;">
        <app-performance-tile [performance]="performance"></app-performance-tile>
        <mat-divider vertical="false" [inset]></mat-divider>
      </div>
    </div>
  </div>
</div>
<ng-template #elseBlock>
  <div [ngStyle]="{'height': screenHeightPX + 'px'}">
    <app-filter (outFilter)="filterChanged($event)"></app-filter>
    <mat-divider vertical="false" [inset]></mat-divider>
    <div class="performances-list">
      <div *ngFor="let performance of verbosePerformances;">
        <app-performance-tile [performance]="performance"></app-performance-tile>
        <mat-divider vertical="false" [inset]></mat-divider>
      </div>
    </div>
  </div>
</ng-template>
