<h1>Performances</h1>
<div class="table-responsive">
  <table class=" table table-striped">
    <thead>
    <tr>
      <th scope="col">performance_id</th>
      <th scope="col">date_time</th>
      <th scope="col">created_by</th>
      <th scope="col">group_id</th>
      <th scope="col">stage_id</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let performance of performances;">
        <td>{{ performance.performance_id }}</td>
        <td>{{ performance.date_time}}</td>
        <td>{{ performance.created_by}}</td>
        <td>{{ performance.group_id}}</td>
        <td>{{ performance.stage_id}}</td>
      </tr>
    </tbody>
  </table>
</div>
