<div *ngIf="device === 'Web', else elseBlock">
  <div class="desktop-centering-wrapper">
    <div class="performances-wrapper-desktop" [ngStyle]="{'height': screenHeightPX + 'px'}">
      <app-filter (outFilter)="filterChanged($event)"></app-filter>
      <mat-divider vertical="false" [inset]></mat-divider>
      <div class="performances-list">
        <div *ngFor="let performance of verbosePerformances;">
          <app-performance-tile [performance]="performance"></app-performance-tile>
          <mat-divider vertical="false" [inset]></mat-divider>
        </div>
        <button mat-flat-button class="loadButton" (click)="loadMorePerformances()" color="primary">Load more Performances.</button>
      </div>
    </div>
  </div>
</div>
<ng-template #elseBlock>
  <div [ngStyle]="{'height': screenHeightPX + 'px'}">
    <app-filter (outFilter)="filterChanged($event)"></app-filter>
    <mat-divider vertical="false" [inset]></mat-divider>
    <div class="performances-list">
      <p class="centered-text" [ngStyle]="{'padding': 5 + '%'}" [hidden]="!isTextVisible">There are no performances for your selected filter!</p>
      <div *ngFor="let performance of verbosePerformances;">
        <app-performance-tile [performance]="performance"></app-performance-tile>
        <mat-divider vertical="false" [inset]></mat-divider>
      </div>
      <button mat-flat-button class="loadButton" (click)="loadMorePerformances()" color="primary">Load more Performances.</button>
    </div>
  </div>
</ng-template>
