.performances-list {
  max-width: 1280px;
  background-color: transparent;
}

mat-divider {
  border-top-width: 10px;
  border-color: transparent;
}

.desktop-centering-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.performances-wrapper-desktop {
  display: flex;
  flex-direction: column;
  max-width: (100svw / 3) * 2;
}
