mat-toolbar {
  height: var(--navbar-height) !important;
}

.navbar{
  position: fixed;
  z-index: 2;

  .logoTitle{
    display: flex;
    text-decoration: none;

    .logo{
      height: 3.5rem;
      width: 3.5rem;
      text-align: center;
    }
    .title{
      margin-left: 0.7rem;
      margin-top: 0.7rem;
      color: white;
    }
  }

  .example-spacer {
    flex: 1 1 auto;
  }
  .list {
    list-style: none;
    display: flex;
    a {
      width: auto;
    }
  }
}
