@import "../../../_palette.scss";

$bla: map-get(map-get($primary, contrast), 100);
$bli: map-get($primary, A100);
$blu: #333333;

$ble: #4A0135;
$ble1: #32014A;
$ble2: #FFECF9;
$blo: map-get($primary, A700);

.background {
  overflow: hidden;
  display: flex;
  flex-direction: column;

  //height: 100%;

  .bla {
    height: 7%;
    padding: 0 15% 0 15%;
    margin-bottom: 3%;
    .voteTitle {

      display: flex;
      justify-content: center;

      background-color: $ble2;
      border-radius: 20px;
      padding-top: 2%;
      padding-bottom: 2%;

      a {
        align-self: center;

        color: $blu;
        font-weight: bold;
        font-size: large;
      }
    }
  }

  .listContainer {
    height: 73%;
    align-self: center;

    .list {
      height: 95%;
      margin: 0.5rem 1rem 0 1rem;
      overflow-y: scroll;
      flex-grow: 1;

      .radioGroup {
        display: flex;
        flex-direction: column;

        span {
          color: #333333;
          font-size: larger;
          font-weight: bold;
        }
      }
    }
  }

  .buttonContainer {
    height: 10%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-self: center;

    .voteButton {
      margin-top: auto;
      margin-bottom: auto;
      align-self: center;
      height: 85%;
      width: 85%;
      max-height: 80px;

      background: map-get($primary, 50);
      color: #333333;
      font-weight: bold;
      font-size: large;
      border: solid 3px white;
    }
  }
}
