<div class="background">
  <!-- [ngStyle]="{'height': screenHeightPX - 66 + 'px'}" -->
  <div class="titleBackgroundContainer">
    <app-glass-effect-box [width]="100" [height]="90" [unit]="'%'">
      <div class="titleContainer">
        <a>{{voteTitle}}</a>
      </div>
    </app-glass-effect-box>
  </div>

  <div class="listContainer" >
<!--    [ngStyle]="{'width': centerList + '%'}"-->
    <mat-list class="list">
      <section class="checkboxGroup">
        <mat-checkbox class="checkbox" #checkbox (change)="limitCheckbox($event)"
                      [disabled]="hasVoted"
                      *ngFor="let artist of artists"
                      [value]="artist.name">
          <span>{{artist.name}}</span>
        </mat-checkbox>
      </section>
    </mat-list>
    <mat-icon>keyboard_arrow_down</mat-icon>
  </div>

  <div class="buttonContainer">
    <app-glass-effect-box [width]="98" [height]="90" [unit]="'%'">
      <button mat-flat-button class="voteButton" (click)="onClick()" [disabled]="hasVoted">
        {{voteButton}} ({{remainingVotes.toString()}})
      </button>
    </app-glass-effect-box>
  </div>
</div>
