<div class="background">
  <div class="listContainer" [ngStyle]="{'height': rowHeight * 9 - 10 + 'px'}">
    <mat-list class="list">
        <mat-radio-group class="radioGroup" [(ngModel)]="chosenArtist">
          <mat-radio-button class="radioButton" [disabled]="hasChosen" *ngFor="let artist of artists" [value]="artist">{{artist}}</mat-radio-button>
        </mat-radio-group>
    </mat-list>
  </div>
  <div class="buttonContainer" [ngStyle]="{'height': rowHeight + 'px'}">
    <button mat-flat-button class="voteButton" (click)="openDialog()" color="primary" [disabled]="hasChosen">Vote</button>
  </div>
</div>
