.background {
  //background: linear-gradient(180deg, rgba(45, 29, 249, 1) 5%, rgba(255, 0, 254, 1) 100%);
  height: 100%;
}

.listContainer {
  //background-color: rgb(100, 100, 100, 0.79);
  padding: 5px;

  .list {
    //background-color: red;
    height: 95%;
    margin: 5px;
    overflow-y: scroll;
    flex-grow: 1;
    .radioGroup {
      display: flex;
      flex-direction: column;
    }
  }
}

.buttonContainer {
  position: sticky;
  text-align: center;
  //background-color: rgba(90, 90, 90, 0.79);

  .voteButton {
    height: 100%;
    width: 40%;
  }
}
