<div class="background" [ngStyle]="{'height': screenHeightPX - 66 + 'px'}">
<!-- [ngStyle]="{'height': screenHeightPX - 66 + 'px'}" -->
  <div class="bla">
    <div class="voteTitle" [ngStyle]="{'width': centerList + '%', 'white-space': 'pre-line'}">
      <a>{{voteTitle}}</a>
    </div>
  </div>

  <div class="listContainer" [ngStyle]="{'width': centerList + '%'}">
    <mat-list class="list">
      <mat-radio-group class="radioGroup" [(ngModel)]="chosenArtist">
        <mat-radio-button class="radioButton" [disabled]="hasChosen" *ngFor="let artist of artists"
                          [value]="artist" [checked]="artist.name === chosenArtist?.name">
          <span>{{artist.name}}</span>
        </mat-radio-button>
      </mat-radio-group>
    </mat-list>
  </div>

  <div class="buttonContainer" [ngStyle]="{'width': centerList + '%'}">
    <button mat-flat-button class="voteButton" (click)="onClick()" color="primary" [disabled]="hasChosen">
      {{voteButton}}
    </button>
  </div>
</div>
