@import "../../../../_palette.scss";

.background{
  width: 100%;
  height: 100%;
  //background-color: map-get($primary, 500);
  background-image: url('/assets/design/landingpage_background.svg');
  background-size: cover;
  mat-nav-list {
    text-align: right;
    p{
      color: map-get(map-get($primary, contrast), 600);
    }
  }

  .iconWrapper {
    padding-top: 1px;
    width: 100%;
    height: 60px;
    text-align: center;

    .title{
      display: block;
      font-size: 2rem;
      color: map-get(map-get($primary, contrast), 600);
    }

    /*.logo {
      width: 100%;
      height: 100%;
    }*/
  }

  .logOut {
    color: map-get(map-get($primary, contrast), 50);
  }
}
