.navbar{
  position: fixed;
  z-index: 2;

  button{
    width: auto;
    height: 100%;
  }

  .title{
    max-height: 40%;
    max-width: 40%;
    text-align: center;
    margin-left: 0.4rem;
  }

  /*.example-spacer {
    flex: 1 1 auto;
  }*/

  .logo{
    max-height: 50px;
    max-width: 50px;
    text-align: center;
    margin: 5px;
  }
}

.sidenav{
  position: fixed;
  flex: 1 0 auto;

  width: 100%;

  div{
    width: 100%;
    height: 3.5rem;
    text-align: center;
    button{
      width: 100%;
      height: 100%;
      text-align: center;
      .logo{
        width: 100%;
        height: 100%;
      }
    }
  }
}
