<mat-toolbar class="navbar" color="primary">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon class="menu">menu</mat-icon>
  </button>

  <object class="title" type="image/svg+xml" data="./assets/streetbeatzLogo/Streetbeatz(1).svg"></object>
<!--  <h1 class="title">StreetBeatz</h1>-->
<!--  <span class="example-spacer"></span>-->
</mat-toolbar>

<mat-sidenav class="sidenav" #sidenav position="start" mode="over">
  <div>
    <button type="button" mat-flat-button (click)="sidenav.toggle()" color="primary">
      <mat-icon class="arrow">keyboard_arrow_left</mat-icon>
      <mat-icon class="logo" svgIcon="streetbeatz"></mat-icon>
    </button>
  </div>

  <mat-nav-list>
    <a mat-list-item routerLink="/">Home</a>
    <a mat-list-item routerLink="/performances">Performances</a>
    <a mat-list-item routerLink="">Map</a>
    <a mat-list-item routerLink="">Vote</a>
    <a mat-list-item routerLink="">Lorem</a>
  </mat-nav-list>
</mat-sidenav>
