version: "3.9"
services:
  reverse-proxy:
    container_name: nginx-rp
    restart: always
    build:
      context: .
      dockerfile: nginx-rp.dockerfile
    env_file:
      - ${PROJECT_PATH}/Deployment/Environment/.env
    volumes:
      - ${PROJECT_PATH}/Deployment/ReverseProxy/certs:/certs
    ports:
      - "80:80"
      - "443:443"