<div class="sponsorContainer">
  <h1>Organizers, Sponsors & Partners of the Street Music Festival</h1>
  <div class="innerContainer">
    <div class="row">
      <div class="sponsor-logo notLast">
        <a target="_blank" href="https://www.sparda-bw.de/">
          <img [src]="spadaBankLogo" alt="Logo der Sparda Bank">
        </a>
      </div>
      <div class="sponsor-logo notLast">
        <a target="_blank" href="https://www.blueba.de/de/">
          <img [src]="bluebaLogo" alt="Logo des Blühenden Barocks">
        </a>
      </div>
      <div class="sponsor-logo notLast">
        <a target="_blank" href="https://pulsmacher.de/">
          <img [src]="RZLogo" alt="Logo von Pulsmacher">
        </a>
      </div>
      <div class="sponsor-logo notLast">
        <a target="_blank" href="https://www.energy.de/stuttgart">
          <img [src]="EnergyLogo" alt="Logo von Energy">
        </a>
      </div>
    </div>
    <div class="row">
      <div class="sponsor-logo notLast">
        <a target="_blank" href="https://www.rothaus.de/">
          <img [src]="RothausLogo" alt="Logo von Rothaus">
        </a>
      </div>
      <div class="sponsor-logo notLast">
        <a target="_blank" href="https://www.lautmacher.com/">
          <img [src]="LautmacherLogo" alt="Logo von Lautmacher">
        </a>
      </div>
      <div class="sponsor-logo notLast">
        <a target="_blank" href="https://www.go-control.de/">
          <img [src]="GoControlLogo" alt="Logo von Go.Control">
        </a>
      </div>
      <div class="sponsor-logo">
        <a target="_blank" href="https://www.lkz.de/">
          <img [src]="KreiszeitungLogo" alt="Logo von der Ludwigsburger Kreiszeitung">
        </a>
      </div>
    </div>
  </div>
</div>
