<div class="sponsorContainer">
  <h1>Veranstalter, Sponsoren & Partner des Street Music Festivals</h1>
  <div class="innerContainer">
    <div class="row">
      <div class="sponsor-logo notLast">
        <a href="https://www.sparda-bw.de/">
          <img src="/assets/companyLogo/sponsors/Sparda_Bank_logo.png" alt="Logo der Sparda Bank">
        </a>
      </div>
      <div class="sponsor-logo notLast">
        <a href="https://www.blueba.de/de/">
          <img src="/assets/companyLogo/sponsors/blueba_logo.png" alt="Logo des Blühenden Barocks">
        </a>
      </div>
      <div class="sponsor-logo notLast">
        <a href="https://pulsmacher.de/">
          <img src="/assets/companyLogo/sponsors/RZ_logo.png" alt="Logo von Pulsmacher">
        </a>
      </div>
      <div class="sponsor-logo notLast">
        <a href="https://www.energy.de/stuttgart">
          <img src="/assets/companyLogo/sponsors/Energy_Logo.png" alt="Logo von Energy">
        </a>
      </div>
    </div>
    <div class="row">
      <div class="sponsor-logo notLast">
        <a href="https://www.rothaus.de/">
          <img src="/assets/companyLogo/sponsors/rothaus_logo.png" alt="Logo von Rothaus">
        </a>
      </div>
      <div class="sponsor-logo notLast">
        <a href="https://www.lautmacher.com/">
          <img src="/assets/companyLogo/sponsors/Lautmacher_Logo.png" alt="Logo von Lautmacher">
        </a>
      </div>
      <div class="sponsor-logo notLast">
        <a href="https://www.go-control.de/">
          <img src="/assets/companyLogo/sponsors/Go_Control_Logo.png" alt="Logo von Go.Control">
        </a>
      </div>
      <div class="sponsor-logo">
        <a href="https://www.lkz.de/">
          <img src="/assets/companyLogo/sponsors/kreiszeitung_logo.png" alt="Logo von der Ludwigsburger Kreiszeitung">
        </a>
      </div>
    </div>
  </div>
</div>
