<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col">
        <h4>Lorem</h4>
        <ul>
          <li><a>Lorem Ipsum</a></li>
          <li><a>Lorem Ipsum</a></li>
        </ul>
      </div>

      <div class="footer-col">
        <h4>Lorem</h4>
        <ul>
          <li><a>Lorem Ipsum</a></li>
          <li><a>Lorem Ipsum</a></li>
          <li><a>Lorem Ipsum</a></li>
          <li><a>Lorem Ipsum</a></li>
        </ul>
      </div>

      <div class="footer-col">
        <h4>Lorem</h4>
        <ul>
          <li><a>Lorem Ipsum</a></li>
          <li><a>Lorem Ipsum</a></li>
          <li><a>Lorem Ipsum</a></li>
        </ul>
      </div>

      <div class="footer-col">
        <h4>Social Media</h4>
        <ul>
          <li><a></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
