@import "../../../../_palette.scss";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer{
  background: linear-gradient(to bottom, map-get($primary, 100), map-get($primary, 200));
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;  //essential for mobile view
}

.footer-col{
  width: (100% / 4);
  padding: 0 15px;
  margin-bottom: 5%;

  h4{
    font-size: 18px;
    color: map-get(map-get($primary, contrast), 50);
    text-transform: capitalize;
    margin-bottom: 35px;
    position: relative;
  }

  ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: map-get(map-get($primary, contrast), 50);
    text-decoration: none;
    display: block;
    transition: all 0.3s ease;
    cursor: pointer;
  }

  ul{
    list-style: none;
  }

  ul li a:hover{
    color: map-get(map-get($primary, contrast), 50);  padding-left: 10px;
  }

  ul li:not(:last-child){
    margin-bottom: 10px;
  }

  .smf {
    width: 80%;
    margin-top: 50px;
    transition: all 0.2s ease-in-out;
    &:hover{
      opacity: 0.7;
      transform: scale(1.1);
    }
  }

  .logInOut{
    text-decoration: underline;
    color: map-get($primary, 500);
  }

  .icon{
    margin-right: 20px;
    width: 32px;
    height: 32px;
    border-radius: 20%;
    transition: all 0.2s ease-in-out;
    &:hover{
      transform: scale(1.2);
    }
  }
}

@media(max-width: 800px) {
  .footer-col{
    width: 100%;
    margin-bottom: 30px;
    text-align: center;

    h4{
      margin-top: 35px;
      margin-bottom: 15px;
    }
  }
}
