*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer{
  background-color: var(--main-brand-color);
  padding: 50px 0;
}

.container{
  max-width: 1300px;
  margin: auto;
}

.row{
  display: flex;
  flex-wrap: wrap;
}

ul{
  list-style: none;
}

.footer-col{
  width: 25%;
  padding: 0 15px;
}

.footer-col h4{
  font-size: 18px;
  color: var(--text-color);
  text-transform: capitalize;
  margin-bottom: 35px;
  position: relative;
}

.footer-col h4::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: var(--secondary-main-brand-color);
  height: 2px;
  width: 50px;
  box-sizing: border-box;
}

.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}

.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: var(--secondary-text-color);
  text-decoration: none;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover{
  color: var(--text-color);
  padding-left: 10px;
}

.smf{
  width: 225px;
  height: 64px;
  margin-top: 50px;
    &:hover{
      opacity: 0.7;
      transform: scale(1.05);
    }
}

.icon{
  margin-right: 20px;
  width: 32px;
  height: 32px;
  border-radius: 20%;
    &:hover{
      transform: scale(1.1);
    }
}

@media(max-width: 800px) {
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
    margin-left: 10px;
  }
}
