<footer class="footer">
  <div class="footer-col">
    <ul>
      <a href="https://strassenmusikfestival.de/">
        <img src="assets/streetMusicFestival/Logo_colored.png" alt="SMF Logo" class="smf">
      </a>
    </ul>
  </div>

  <div class="footer-col">
    <h4>Infos</h4>
    <ul>
      <li><a>Performances</a></li>
      <li><a>Map</a></li>
      <li><a>Vote</a></li>
      <li><a>Lorem</a></li>
    </ul>
  </div>

  <div class="footer-col">
    <h4>Rechtliches?</h4>
    <ul>
      <li><a>Lorem Ipsum</a></li>
      <li><a>Lorem Ipsum</a></li>
    </ul>
  </div>

  <div class="footer-col">
    <h4>Social Media</h4>
    <ul>
      <a href="https://www.facebook.com/Int.StrassenmusikFestival">
        <img src="assets/companyLogo/facebook.png" alt="Facebook Logo" class="icon">
      </a>
      <a href="https://www.instagram.com/strassenmusikfestival/">
        <img src="assets/companyLogo/instagram.png" alt="Instagram Logo" class="icon">
      </a>
    </ul>
  </div>
</footer>
