<footer class="footer">
  <div class="footer-col placeholder"></div>

  <div class="footer-col bigger">
    <ul>
      <a href="https://strassenmusikfestival.de/">
        <img src="assets/streetMusicFestival/Logo_colored.png" alt="SMF Logo" class="smf">
      </a>
    </ul>
  </div>

  <div class="footer-col">
    <h4>Infos</h4>
    <ul>
      <li><a mat-list-item routerLink="/performances">Performances</a></li>
      <li><a mat-list-item routerLink="/map">Map</a></li>
      <li><a mat-list-item routerLink="/vote">Vote</a></li>
      <li class="logInOut">
        <ng-container *ngIf="isAuthenticated$ | async; else unAuthenticated">
          <app-logout-button></app-logout-button>
        </ng-container>
        <ng-template #unAuthenticated>
          <app-login-button></app-login-button>
        </ng-template>
      </li>
    </ul>
  </div>

  <div class="footer-col">
    <h4>Legal notice</h4>
    <ul>
      <li><a mat-list-item routerLink="/imprint">Imprint</a></li>
    </ul>
  </div>

  <div class="footer-col">
    <h4>Social Media</h4>
    <ul>
      <a target="_blank" href="https://www.facebook.com/Int.StrassenmusikFestival">
        <img src="assets/companyLogo/facebook.png" alt="Facebook Logo" class="icon left">
      </a>
      <a target="_blank" href="https://www.instagram.com/strassenmusikfestival/">
        <img src="assets/companyLogo/instagram.png" alt="Instagram Logo" class="icon">
      </a>
    </ul>
  </div>

  <div class="footer-col placeholder"></div>
</footer>
