@import "../../../../_palette.scss";

.background{
  //background-color: #FFC107;
  position: relative;
  .infoWrapper{
    //background-color: #ff0000;
    height: 40vh;
  }
  .dateWrapper{
    //background-color: #1aff00;
    height: 50%;
    padding-left: 7%;
    padding-top: 10%;
  }

  .scrollIcon{
    height: 9%;
    width: 9%;
    position: absolute;
    bottom: 1%;
    right: 46%;

    mat-icon{
      height: 100%;
      width: 100%;;
    }
  }
}

//region HandsetPortrait
@media screen and (max-width: 599.98px){

}
//endregion
//region HandsetLandscape
@media screen and (min-width: 600px) and (max-width: 959.98px){

}
//endregion
//region TabletPortrait
@media screen and (min-width: 600px) and (max-width: 839.98px){

}
//endregion
//region TabletLandscape
@media screen and (min-width: 960px) and (max-width: 1279.98px){

}
//endregion
//region WebLandscape
@media screen and (min-width: 1280px){
  .background{
    .infoWrapper{
      height: 50%;
    }
    .dateWrapper{
      height: 50%;
      padding-left: 7%;
      padding-top: 0;
    }
  }
}
//endregion
