# general settings
PROJECT_PATH=<path to directory>                            # where the project files will be stored on the host machine (example: /home/user/StreetbeatzLB)
DATABASE_STORAGE_PATH=<path to directory>                   # where the database files will be stored on the host machine (example: /home/user/StreetbeatzLB/database)
DOMAIN=<domain name>                                        # example: https://streetbeatzlb.com (https:// is required)
BASE_HREF=<base href>                                       # example: / or /streetbeatzlb/
SERVER_LAN_IP=<server lan ip>                               # example: 192.168.0.50

# reverse proxy settings
USE_PROXY=<true|false>                                      # if true, the reverse proxy will be used
PROXY_PORT_HTTP=<proxy port http>                           #default: 80
PROXY_PORT_HTTPS=<proxy port https>                         #default: 443
PROXY_PORT_DB=<proxy port db>                               #default: 3306

# ssl cert paths (only if USE_PROXY is true)
PATH_SSL_CERT_PEM=<path to ssl cert .pem>
PATH_SSL_CERT_KEY=<path to ssl cert .key>

# build settings
REBUILD_DB=<true|false>                                     # if true, the database will be deleted and rebuild on startup
DB_SAMPLE_DATA=<true|false>                                 # if true, the database will be filled with sample data

# auth0 settings                                            # you can get these values from your auth0 account
AUTH0_DOMAIN=<auth0 domain>
AUTH0_CLIENT_ID=<auth0 client id>
AUTH0_AUDIENCE=<auth0 audience>

# database settings
PUBLIC_DB_ACCESS=<true|false>                               # if true and if USE_PROXY true, the database will be added to reverse proxy and therefore accessible from the internet
DB_PORT=<db port>                                           #default: 3307
MYSQL_DATABASE=<database name>
MYSQL_ROOT_PASSWORD=<root password>
MYSQL_USER=<user name>
MYSQL_PASSWORD=<user password>

# tomcat
TOMCAT_HEALTHCHECK_URL=<tomcat healthcheck url>             # $DOMAIN + $BASE_HREF + api/healthcheck
TOMCAT_PORT=<tomcat port>                                   #default: 8181

# nginx
NGINX_HEALTHCHECK_URL=<nginx healthcheck url>               # $DOMAIN + $BASE_HREF
NGINX_PORT=<nginx port>                                     #default: 81