<!--<body>
<div class="homeContainer1">
  <div class="date">
    <h1 class="hDate">{{startDate.getDate()}}. - {{endDate.getDate()}}. {{month}} {{startDate.getFullYear()}}</h1>
    <h2 class="hTime"> {{startDay}} - {{endDay}} {{startTime}} - {{endTime}} Uhr</h2>
  </div>
  <div class="instrument">
    <ul>
      <li>
        <object class="note1" type="image/svg+xml" data="./assets/landingpageSVG/SingleNote.svg"></object>
        <object class="note2" type="image/svg+xml" data="./assets/landingpageSVG/SingleNote.svg"></object>
      </li>
      <li>
        <object class="guitar" type="image/svg+xml" data="./assets/landingpageSVG/Gitarre.svg"></object>
      </li>
    </ul>
  </div>
</div>

<div class="homeContainer3"></div>

<div class="homeContainer2">
  <h2>Street Music Festival Ludwigsburg</h2>
  <p>
    {{generalInformation1}}
  </p>
  <p>
    {{generalInformation2}}
  </p>
  <p>
    {{generalInformation3}}
  </p>
  <p>
    {{generalInformation4}}
  </p>
</div>

<div class="homeContainer3"></div>

<div class="homeContainer4">
  <h2>Bilder</h2>
  <div class="images">
    <img src="assets/bluehendesBarock/barock1.jpg" alt="Blühendes Barock Bild 1">
    <img src="assets/bluehendesBarock/barock2.jpg" alt="Blühendes Barock Bild 2">
    <img src="assets/streetMusicFestival/SMF1.jpg" alt="Street Music Festival Bild 1">
    <img src="assets/streetMusicFestival/SMF2.jpg" alt="Street Music Festival Bild 2">
    <img src="assets/streetMusicFestival/SMF3.jpg" alt="Street Music Festival Bild 3">
    <img src="assets/streetMusicFestival/SMF4.jpg" alt="Street Music Festival Bild 4">
    <img src="assets/streetMusicFestival/SMF5.jpg" alt="Street Music Festival Bild 5">
    <img src="assets/streetMusicFestival/SMF6.jpg" alt="Street Music Festival Bild 6">
  </div>
</div>

<div class="homeContainer3"></div>

<div class="homeContainer5">
  <h2>Sponsoren, Veranstalter & Partner des Street Music Festivals</h2>
  <div class="innerContainer5">
    <div class="row">
      <div class="logo1">
        <a href="https://www.sparda-bw.de/">
          <img src="assets/companyLogo/Sparda_Bank_logo.png" alt="Logo der Sparda Bank" class="hoverTransform">
        </a>
      </div>
      <div class="logo2">
        <a href="https://www.blueba.de/de/">
          <img src="assets/companyLogo/blueba_logo.png" alt="Logo des Blühenden Barocks" class="hoverTransform">
        </a>
      </div>
      <div class="logo3">
        <a href="https://pulsmacher.de/">
          <img src="assets/companyLogo/RZ_logo.png" alt="Logo von Pulsmacher" class="hoverTransform">
        </a>
      </div>
    </div>
    <div class="row2">
      <div class="logo4">
        <a href="https://www.rothaus.de/">
          <img src="assets/companyLogo/rothaus_logo.png" alt="Logo von Rothaus" class="hoverTransform">
        </a>
      </div>
      <div class="logo5">
        <a href="https://www.lautmacher.com/">
          <img src="assets/companyLogo/Lautmacher_Logo.png" alt="Logo von Lautmacher" class="hoverTransform">
        </a>
      </div>
      <div class="logo6">
        <a href="https://www.go-control.de/">
          <img src="assets/companyLogo/Go_Control_Logo.png" alt="Logo von Go.Control" class="hoverTransform">
        </a>
      </div>
      <div class="logo7">
        <a href="https://www.lkz.de/">
          <img src="assets/companyLogo/kreiszeitung_logo.png" alt="Logo von der Ludwigsburger Kreiszeitung" class="hoverTransform">
        </a>
      </div>
      <div class="logo8">
        <a href="https://www.energy.de/stuttgart">
          <img src="assets/companyLogo/Energy_Logo.png" alt="Logo von Energy" class="hoverTransform">
        </a>
      </div>
    </div>
  </div>
</div>
<div>
  <app-footer></app-footer>
</div>
</body>-->


<!--  <mat-grid-tile class="homeContainer1">-->
    <div class="homeContainer1">
    <mat-grid-list class="homeContainer1Sub" [cols]="device === 'Web' ? 2 : 1 "
                   [rowHeight]="device === 'Web' ? '100svh' : '50svh'">
      <mat-grid-tile class="date">
        <div>
          <h1 class="hDate">{{startDate.getDate()}}. - {{endDate.getDate()}}. {{month}} {{startDate.getFullYear()}}</h1>
          <h2 class="hTime"> {{startDay}} - {{endDay}} {{startTime}} - {{endTime}} Uhr</h2>
        </div>
      </mat-grid-tile>
      <mat-grid-tile class="instrument">
        <ul>
          <li>
            <object class="note1" type="image/svg+xml" data="./assets/landingpageSVG/SingleNote.svg"></object>
            <object class="note2" type="image/svg+xml" data="./assets/landingpageSVG/SingleNote.svg"></object>
          </li>
          <li>
            <object class="guitar" type="image/svg+xml" data="./assets/landingpageSVG/Gitarre.svg"></object>
          </li>
        </ul>
      </mat-grid-tile>
    </mat-grid-list>
    </div>
<!--  </mat-grid-tile>-->

<!--  <mat-grid-tile class="homeContainer2">-->
<!--    <div class="homeContainer2Sub">-->
      <mat-expansion-panel class="expansionPanel" expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Street Music Festival Ludwigsburg
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>{{generalInformation}}</p>
      </mat-expansion-panel>
<!--    </div>-->
<!--  </mat-grid-tile>-->

<mat-grid-list cols="1" rowHeight="90svh" gutterSize="5rem">
  <mat-grid-tile class="homeContainer3">
    <!--<div class="slideshow-container">
      <div class="slideshow-item">
        <div class="slideshow-item">
          <img src="assets/bluehendesBarock/barock1.jpg" alt="group1">
          <div class="group-details">
            <h3>Group 1</h3>
            <p>Genre 1</p>
          </div>
        </div>
        <div class="slideshow-item">
          <img src="assets/bluehendesBarock/barock1.jpg" alt="group2">
          <div class="group-details">
            <h3>Group 2</h3>
            <p>Genre 2</p>
          </div>
        </div>
        <div class="slideshow-item">
          <img src="assets/bluehendesBarock/barock1.jpg" alt="group3">
          <div class="group-details">
            <h3>Group 3</h3>
            <p>Genre 3</p>
          </div>
        </div>
        <div class="slideshow-item">
          <img src="assets/bluehendesBarock/barock1.jpg" alt="group4">
          <div class="group-details">
            <h3>Group 4</h3>
            <p>Genre 4</p>
          </div>
        </div>
        <div class="slideshow-item">
          <img src="assets/bluehendesBarock/barock1.jpg" alt="group5">
          <div class="group-details">
            <h3>Group 5</h3>
            <p>Genre 5</p>
          </div>
        </div>
        <div class="slideshow-item">
          <img src="assets/bluehendesBarock/barock1.jpg" alt="group6">
          <div class="group-details">
            <h3>Group 6</h3>
            <p>Genre 6</p>
          </div>
        </div>
      </div>
    </div>
    <a class="prev">&#10094;</a>
    <a class="next">&#10095;</a>-->

  </mat-grid-tile>

  <mat-grid-tile class="homeContainer4">
    <div class="innerContainer4" >
        <h2>Bilder</h2>
      <div class="imageSlider" style="width: 90rem; height: 35rem; margin: 0 auto">
        <app-image-slider [slides]="slides"></app-image-slider>
      </div>

    </div>





    <!--<div class="images">
      <img src="assets/bluehendesBarock/barock1.jpg" alt="Blühendes Barock Bild 1">
      <img src="assets/bluehendesBarock/barock2.jpg" alt="Blühendes Barock Bild 2">
      <img src="assets/streetMusicFestival/SMF1.jpg" alt="Street Music Festival Bild 1">
      <img src="assets/streetMusicFestival/SMF2.jpg" alt="Street Music Festival Bild 2">
      <img src="assets/streetMusicFestival/SMF3.jpg" alt="Street Music Festival Bild 3">
      <img src="assets/streetMusicFestival/SMF4.jpg" alt="Street Music Festival Bild 4">
      <img src="assets/streetMusicFestival/SMF5.jpg" alt="Street Music Festival Bild 5">
      <img src="assets/streetMusicFestival/SMF6.jpg" alt="Street Music Festival Bild 6">
    </div>-->
  </mat-grid-tile>

  <mat-grid-tile class="homeContainer5">
    <h2>Veranstalter, Sponsoren & Partner des Street Music Festivals</h2>
    <div class="innerContainer5">
      <div class="row">
        <div class="sponsor-logo rec-logo">
          <img src="assets/companyLogo/Sparda_Bank_logo.png" alt="Logo der Sparda Bank">
        </div>
        <div class="sponsor-logo rec-logo">
          <img src="assets/companyLogo/blueba_logo.png" alt="Logo des Blühenden Barocks">
        </div>
        <div class="sponsor-logo rec-logo">
          <img src="assets/companyLogo/RZ_logo.png" alt="Logo von Pulsmacher">
        </div>
      </div>
      <div class="row2">
        <div class="sponsor-logo">
          <img src="assets/companyLogo/rothaus_logo.png" alt="Logo von Rothaus">
        </div>
        <div class="sponsor-logo">
          <img src="assets/companyLogo/Lautmacher_Logo.png" alt="Logo von Lautmacher">
        </div>
        <div class="sponsor-logo">
          <img src="assets/companyLogo/Go_Control_Logo.png" alt="Logo von Go.Control">
        </div>
        <div class="sponsor-logo">
          <img src="assets/companyLogo/kreiszeitung_logo.png" alt="Logo von der Ludwigsburger Kreiszeitung">
        </div>
        <div class="sponsor-logo">
          <img src="assets/companyLogo/Energy_Logo.png" alt="Logo von Energy">
        </div>
      </div>
    </div>
  </mat-grid-tile>

</mat-grid-list>
<!--<mat-grid-tile-footer>
  <app-footer></app-footer>
</mat-grid-tile-footer>-->
