//region mixin
@mixin container($rad1, $rad2, $rad3, $rad4, $shadow1, $shadow2, $shadow3, $shadow4, $shadow5,) {
  border-radius: $rad1 $rad2 $rad3 $rad4;
  box-shadow: $shadow1 $shadow2 $shadow3 $shadow4 $shadow5;
}

@mixin container1($rad1, $rad2, $rad3, $rad4, $shadow1, $shadow2, $shadow3, $shadow4, $shadow5, $img) {
  @include container($rad1, $rad2, $rad3, $rad4, $shadow1, $shadow2, $shadow3, $shadow4, $shadow5,);
  background-image: url($img);
  background-size: cover;
}

@mixin container2-5($rad1, $rad2, $rad3, $rad4, $shadow1, $shadow2, $shadow3, $shadow4, $shadow5, $gDeg, $rgba1_1,
$rgba1_2, $rgba1_3, $rgba1_4, $rgba1_5, $rgba2_1, $rgba2_2, $rgba2_3, $rgba2_4, $rgba2_5,) {
  @include container($rad1, $rad2, $rad3, $rad4, $shadow1, $shadow2, $shadow3, $shadow4, $shadow5,);
  background: linear-gradient($gDeg, rgba($rgba1_1, $rgba1_2, $rgba1_3, $rgba1_4) $rgba1_5,
    rgba($rgba2_1, $rgba2_2, $rgba2_3, $rgba2_4) $rgba2_5);
}
//endregion

mat-grid-list {
  overflow: hidden;
}

//region homeContainer1
.homeContainer1 {
  @include container1(0, 0, 5rem, 5rem, 0px, 10px, 18px, 6px, #000000, "/assets/streetMusicFestival/SMF1.jpg");
  width: 100%;

  .homeContainer1Sub {
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(255, 193, 7, 1) 0%, rgba(255, 111, 0, 0.24691883589373254) 100%);
    border-bottom-left-radius: 5rem;
    border-bottom-right-radius: 5rem;

    .date {
      div {
        text-align: center;
      }
    }

    .instrument {
      ul {
        text-align: center;

        li {
          list-style: none;
        }
      }

      .note1 {
        padding-right: 0.8rem;

        animation-name: bounce;
        animation-duration: 3s;
        animation-timing-function: ease-in;
        animation-iteration-count: infinite;
      }

      .note2 {
        padding-left: 1.5rem;
        padding-bottom: 0.4rem;

        animation-name: bounce;
        animation-duration: 3.5s;
        animation-timing-function: ease-out;
        animation-iteration-count: infinite;
      }

      .guitar {
        animation-name: bounce;
        animation-duration: 2.6s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
      }
    }
  }
}
//endregion

//region homeContainer2
.expansionPanel {
  margin-top: 2rem;
  margin-bottom: 2rem;
  @include container2-5(3.5rem, 3.5rem, 3.5rem, 3.5rem, -10px, 0px, 18px, 12px, #000000, 180deg, 255, 193, 7, 1, 0%, 255, 111, 0, 0.24691883589373254, 100%);

}

p{
  height: 100%;
}

//endregion

//region homeContainer3
.homeContainer3 {
  @include container2-5(3.5rem, 3.5rem, 3.5rem, 3.5rem, -10px, 0px, 18px, 12px, #000000, 180deg, 255, 193, 7, 1, 0%, 255, 111, 0, 0.24691883589373254, 100%);
  margin-top: 2rem;
  //margin-bottom: 5rem;
  width: 100%;
  height: 100%;

  .center {
    text-align: center;
  }

  .mat-carousel-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
  }

  .artist-info {
    color: white;
    text-align: center;
  }
}

//endregion

//region homeContainer4
.homeContainer4 {
  @include container2-5(3.5rem, 3.5rem, 3.5rem, 3.5rem, -10px, 0px, 18px, 12px, #000000, 180deg, 255, 193, 7, 1, 0%, 255, 111, 0, 0.24691883589373254, 100%);
  width: 100%;
  padding: 10px;
  margin-right: 2%;
  margin-left: 2%;
  display: flex;
  justify-content: center;

  .innerContainer4{
    height: 100%;
    text-align: center;
  }
}
//endregion

//region homeContainer5
.homeContainer5 {
  @include container2-5(3.5rem, 3.5rem, 3.5rem, 3.5rem, -10px, 0px, 18px, 12px, #000000, 180deg, 255, 193, 7, 1, 0%, 255, 111, 0, 0.24691883589373254, 100%);
  margin-top: 5%;
  padding-bottom: 10%;

  h1 {
    text-decoration: underline;
    text-align: center;
  }
}

.innerContainer5 {
  padding: 10px;
}

.row {
  display: flex;

  div {
    width: (100% / 4);
    box-sizing: border-box;
    align-items: center;
    margin: 1%;
    display: flex;

    img {
      width: 70%;
      max-height: 80%;
      position: relative;
    }
  }
}

.sponsor-logo {
  display: flex;
  justify-content: center;
  z-index: 1;
  padding-top: 4%;
  padding-bottom: 4%;
  transform: translate3d(0, 0, 0);
  transition: transform 1.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);

  a {
    display: flex;
    justify-content: center;
  }
}

.sponsor-logo:before,
.sponsor-logo:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15%;
  background: antiquewhite;
  opacity: 0;
  transition: opacity 1.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.sponsor-logo:before {
  transform: scale3d(1, 1, 1);
}

.sponsor-logo:after {
  transform: scale3d(0.8, 0.8, 1);
}

.sponsor-logo:hover:before {
  transform: scale3d(0.8, 0.8, 1);
  opacity: 1;
}

.sponsor-logo:hover:after {
  transform: scale3d(1, 1, 1);
  opacity: 1;
}

.sponsor-logo:hover {
  transform: translate3d(0, -5px, 0);
}

@media(max-width: 800px) {
  .innerFooter {
    margin-left: 0;
  }

  .innerContainer5 {
    padding: 2px 5px;
  }

  .sponsor-logo {
    padding-top: 14%;
    padding-bottom: 0;
  }

  .row {
    display: block;

    div {
      width: 100%;
      height: (100% / 4);
    }
  }

  .sponsor-logo {
    margin-top: 10%;
    transition: transform 0.1ms cubic-bezier(0.25, 0.46, 0.45, 0.94);

    a {
      display: flex;
      justify-content: center;
    }

    &:before,
    &:after {
      transition: opacity 0.1ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }
  }
}

//endregion

//footer
.homeFooter {
  //@include container2-5(0, 0, 0, 0, 0, 0, 0, 0, #000000, 180deg, 255, 111, 0, 0.24691883589373254, 0%, 0, 0, 0, 0, 100%);
  background: linear-gradient(180deg, rgba(255, 111, 0, 0.24691883589373254) 0%, rgba(255, 111, 0, 24691883589373254) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 10%;
}

.innerFooter {
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 10%;
}
//endregion

//region Media Query
/*@media (min-width: 800px) {
  .hDate {
    padding-top: 70px;
  }

  .hTime {
    padding-bottom: 50px;
  }
}

@media (max-width: 800px) {
  //$landing: 5%;

  .homeContainer1 {
    display: flex;
    flex-wrap: wrap;

    .date {
      margin: auto;
      width: 80%;
      padding: 10px;
      text-align: center;
    }

    .instrument {
      margin: auto;
      width: 80%;
      padding: 10px;
    }
  }

  .homeContainer2{
    font-size: 10pt;
    margin-left: 1%;

    h2{
      font-size: 12pt;
    }
  }

  .homeContainer4{
    img{
      height: 90px;
    }
  }

  .homeContainer5{
    .row{
      flex-wrap: wrap;

      div{
        width: 45%;
      }
    }
    .row2{
      flex-wrap: wrap;

      div{
        width: 45%;
        img{
          max-height: 60%;
        }
      }
    }
  }
}*/
//endregion

//region Animation
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-30px);
  }

  60% {
    transform: translateY(-15px);
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(900px);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-900px);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slideInTop {
  from {
    transform: translateY(-900px);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes slideInBottom {
  from {
    transform: translateY(900px);
  }

  to {
    transform: translateY(0);
  }
}

//endregion
