.background{
  //width: 100%;
  height: 100%;

  .scrollIcon{
    height: 9%;
    width: 9%;
    position: fixed;
    bottom: 1%;
    right: 46%;

    mat-icon{
      height: 100%;
      width: 100%;;
    }
  }
}

.textbox{
  padding-left: 20px;
  width: 75%;

  @media screen and (max-width: 600px) {
    padding: 15px;
    width: 90%;
  }
}

.spacer{
  height: 64px;
}


