/*body {
  background-color: var(--background-color);
}*/
//region mixin
@mixin container($rad1, $rad2, $rad3, $rad4, $shadow1, $shadow2, $shadow3, $shadow4, $shadow5,) {
  border-radius: $rad1 $rad2 $rad3 $rad4;
  box-shadow: $shadow1 $shadow2 $shadow3 $shadow4 $shadow5;
}

@mixin container1($rad1, $rad2, $rad3, $rad4, $shadow1, $shadow2, $shadow3, $shadow4, $shadow5, $img) {
  @include container($rad1, $rad2, $rad3, $rad4, $shadow1, $shadow2, $shadow3, $shadow4, $shadow5,);
  background-image: url($img);
  background-size: cover;
}

@mixin container2-5($rad1, $rad2, $rad3, $rad4, $shadow1, $shadow2, $shadow3, $shadow4, $shadow5, $gDeg, $rgba1_1,
$rgba1_2, $rgba1_3, $rgba1_4, $rgba1_5, $rgba2_1, $rgba2_2, $rgba2_3, $rgba2_4, $rgba2_5,) {
  @include container($rad1, $rad2, $rad3, $rad4, $shadow1, $shadow2, $shadow3, $shadow4, $shadow5,);
  background: linear-gradient($gDeg, rgba($rgba1_1, $rgba1_2, $rgba1_3, $rgba1_4) $rgba1_5,
    rgba($rgba2_1, $rgba2_2, $rgba2_3, $rgba2_4) $rgba2_5);
}
//endregion

mat-grid-list {
  //overflow: hidden;
}

//region homeContainer1
@mixin guitarAnimation {
  animation-name: bounce;
  animation-duration: 2.6s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@mixin note2Animation {
  animation-name: bounce;
  animation-duration: 3.5s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

@mixin note1Animation {
  animation-name: bounce;
  animation-duration: 3s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
}

.homeContainer1 {
  @include container1(0, 0, 5rem, 5rem, 0px, 10px, 18px, 6px, #000000, "/assets/streetMusicFestival/SMF4.jpg");
  width: 100%;
  /*border-radius: 0 0 5rem 5rem;
  background-image: url("/assets/streetMusicFestival/SMF4.jpg");
  background-size: cover;
  box-shadow: 0px 10px 18px 6px #000000;*/

  .homeContainer1Sub {
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(255, 193, 7, 1) 0%, rgba(255, 111, 0, 0.24691883589373254) 100%);
    border-bottom-left-radius: 5rem;
    border-bottom-right-radius: 5rem;

    .date {
      div {
        text-align: center;

        .hDate {
          font-size: 3rem;
        }

        .hTime {
          font-size: 1.5rem;
        }
      }
    }

    .instrument {
      ul {
        text-align: center;

        li {
          list-style: none;
        }
      }

      .note1 {
        padding-right: 0.8rem;
        width: 3.5rem;
        height: 3.5rem;
        @include note1Animation;
      }

      .note2 {
        padding-left: 1.5rem;
        padding-bottom: 0.4rem;
        width: 4rem;
        height: 4rem;
        @include note2Animation;
      }

      .guitar {
        width: 14.5rem;
        height: 15.5rem;
        @include guitarAnimation;
      }
    }


    /*.date{
      div{
        text-align: center;

        .hDate{
          font-size: $hDate-font-size;
        }
        .hTime{
          font-size: $hTime-font-size;
        }
      }
    }*/
  }
}

//region old1
/*.homeContainer1 {
  background-color: var(--secondary-main-brand-color);
  display: flex;
  width: 100%;
  border-radius: 0 0 50px 50px;

  @include Shadow;

  animation-name: slideInTop;
  animation-timing-function: ease-in-out;
  animation-duration: 2.5s;
  animation-iteration-count: 1;
}

.date {
  margin: 50px;
  width: 57%;
  padding: 5px;
  text-align: center;
}


.instrument {
  margin: 50px;
  width: 60%;

  ul {
    text-align: center;

    li {
      list-style: none;
    }
  }
}

.note1 {
  padding-left: 60px;
  width: 50px;
  height: 50px;

  animation-name: bounce;
  animation-duration: 3s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
}

.note2 {
  padding-left: 60px;
  padding-bottom: 40px;
  width: 60px;
  height: 60px;

  animation-name: bounce;
  animation-duration: 3.5s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

.guitar {
  width: 170px;
  height: 170px;

  animation-name: bounce;
  animation-duration: 2.6s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;

}*/
//endregion
//endregion

//region homeContainer2
.expansionPanel {
  margin-top: 2rem;
  margin-bottom: 2rem;
  @include container2-5(3.5rem, 3.5rem, 3.5rem, 3.5rem, -10px, 0px, 18px, 12px, #000000, 180deg, 255, 193, 7, 1, 0%, 255, 111, 0, 0.24691883589373254, 100%);
}

/*.homeContainer2{
  @include container1-2(5rem, 5rem, 5rem, 5rem, -10px, 0px, 18px, 12px, #000000, "/assets/streetMusicFestival/SMF5.jpg");
  margin-top: 2rem;

  .homeContainer2Sub{
    background: linear-gradient(270deg, rgba(255,193,7,1) 0%, rgba(255,111,0,0.24691883589373254) 100%);
    height: 100%;
    width: 100%;

    .expansionPanel{
    }
  }
}*/

/*.homeContainer2 {
  background-color: var(--secondary-main-brand-color);
  margin-left: 15%;
  padding: 20px;
  border-radius: 25px 0 0 25px;

  @include Shadow;

  animation: slideInRight;
  animation-timing-function: ease-in-out;
  animation-duration: 2.5s;
  animation-iteration-count: 1;
}

.homeContainer2 h2 {
  text-decoration: underline;
}*/

//endregion

//region homeContainer3
.homeContainer3 {
  @include container2-5(3.5rem, 3.5rem, 3.5rem, 3.5rem, -10px, 0px, 18px, 12px, #000000, 180deg, 255, 193, 7, 1, 0%, 255, 111, 0, 0.24691883589373254, 100%);
  margin-top: 2rem;
  //margin-bottom: 5rem;
  width: 100%;
  height: 100%;

  .center {
    text-align: center;
  }

  .mat-carousel-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
  }

  .artist-info {
    color: white;
    text-align: center;
  }
}

//endregion

//region homeContainer4
.homeContainer4 {
  @include container2-5(3.5rem, 3.5rem, 3.5rem, 3.5rem, -10px, 0px, 18px, 12px, #000000, 180deg, 255, 193, 7, 1, 0%, 255, 111, 0, 0.24691883589373254, 100%);
  //margin-top: 2rem;
  //margin-bottom: 4rem;
  padding: 10px;

  .innerContainer4{
    width: 100%;
    height: 100%;
    text-align: center;
  }

 /* @include Shadow;

  animation-name: slideInLeft;
  animation-timing-function: ease-in-out;
  animation-duration: 2.5s;
  animation-iteration-count: 1;

  h2 {
    text-align: center;
    text-decoration: underline;
  }*/
}


/*.images {
  margin: 5%;
  display: flex;
  gap: 5%;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-items: center;

  img {
    position: relative;
    margin: 5%;
    height: 400px;
    width: (100% / 3);
    border: 1px solid black;
    border-radius: 1%;
  }
}*/

//endregion

//region homeContainer5
.homeContainer5 {
  background-color: var(--secondary-main-brand-color);
  margin-left: 5%;
  margin-right: 5%;
  padding: 10px;
  border-radius: 50px 50px 0 0;

  //@include Shadow;

  height: 500px;

  animation-name: slideInBottom;
  animation-timing-function: ease-in-out;
  //animation-duration: 2.5s;
  animation-iteration-count: 1;


  h2 {
    text-decoration: underline;
    text-align: center;
  }
}

.innerContainer5 {
  width: 100%;
  height: 100%;

}

.row {
  display: flex;

  div {
    width: (100% / 3);
    box-sizing: border-box;
    align-items: center;
    margin: 2%;
    //align-content: center;
    display: flex;

    img {
      width: 70%;
      position: relative;
    }
  }
}

.row2 {
  display: flex;

  div {
    width: (100% / 5);
    box-sizing: border-box;
    align-items: center;
    margin: 2%;
    //align-content: center;
    display: flex;

    img {
      width: 70%;
      max-height: 80%;
      position: relative;
    }
  }
}

.hoverTransform {
  &:hover {
    transform: scale(1.1);
  }
}

//endregion

//region Media Query
/*@media (min-width: 800px) {
  .hDate {
    padding-top: 70px;
  }

  .hTime {
    padding-bottom: 50px;
  }
}

@media (max-width: 800px) {
  //$landing: 5%;

  .homeContainer1 {
    display: flex;
    flex-wrap: wrap;

    .date {
      margin: auto;
      width: 80%;
      padding: 10px;
      text-align: center;
    }

    .instrument {
      margin: auto;
      width: 80%;
      padding: 10px;
    }
  }

  .homeContainer2{
    font-size: 10pt;
    margin-left: 1%;

    h2{
      font-size: 12pt;
    }
  }

  .homeContainer4{
    img{
      height: 90px;
    }
  }

  .homeContainer5{
    .row{
      flex-wrap: wrap;

      div{
        width: 45%;
      }
    }
    .row2{
      flex-wrap: wrap;

      div{
        width: 45%;
        img{
          max-height: 60%;
        }
      }
    }
  }
}*/
//endregion

//region Animation
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-30px);
  }

  60% {
    transform: translateY(-15px);
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(900px);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-900px);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slideInTop {
  from {
    transform: translateY(-900px);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes slideInBottom {
  from {
    transform: translateY(900px);
  }

  to {
    transform: translateY(0);
  }
}

//endregion


// Wird noch verschoben. Mit freundlichen Grüßen Dennis
.sponsor-logo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translate3d(0, 0, 0);
  transition: transform 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.sponsor-logo:before,
.sponsor-logo:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15%;
  background: #ffcb05;
  opacity: 0;
  transition: opacity 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.sponsor-logo:before {
  transform: scale3d(1, 1, 1);
}

.sponsor-logo:after {
  transform: scale3d(0.8, 0.8, 1);
}

.sponsor-logo:hover:before {
  transform: scale3d(0.8, 0.8, 1);
  opacity: 1;
}

.sponsor-logo:hover:after {
  transform: scale3d(1, 1, 1);
  opacity: 1;
}

.sponsor-logo:hover {
  transform: translate3d(0, -5px, 0);
}

.rec-logo {
  padding-top: 2%;
  padding-bottom: 2%;
}
