<mat-grid-list cols="2"  rowHeight="30%" gutterSize="1rem">

  <mat-grid-tile class="performanceTile" colspan="2">
    <button mat-raised-button (click)="performanceButtonClick()">
      <span class="tileText">Performances</span>
      <mat-icon class="tileIcon">event_note</mat-icon>
    </button>
  </mat-grid-tile>
  <mat-grid-tile class="voteTile" colspan="1">
    <button mat-raised-button (click)="voteButtonClick()">
      <span class="tileText">Vote</span>
      <mat-icon class="tileIcon">how_to_vote</mat-icon>
    </button>
  </mat-grid-tile>
  <mat-grid-tile class="mapTile" colspan="1">
    <button mat-raised-button (click)="mapButtonClick()">
      <span class="tileText">Map</span>
      <mat-icon class="tileIcon">map</mat-icon>
    </button>
  </mat-grid-tile>
  <mat-grid-tile class="ticketTile" colspan="2">
    <button mat-raised-button (click)="ticketButtonClick()">
      <span class="tileText">Tickets</span>
      <mat-icon class="tileIcon">local_activity</mat-icon>
    </button>
  </mat-grid-tile>

</mat-grid-list>
