<div class="artistContainer">
  <h1>Künstler</h1>
  <div class="row">
    <img src="../../../../assets/künstler/alicerose.jpg" alt="Artist" class="picture">
    <span>Alice Rose</span>
    <button mat-fab color="primary" (click)="showArtist()">
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>
  <div class="row">
    <div class="picture"></div>
    <span>BENJAKOB</span>
    <button mat-fab color="primary" (click)="showArtist()">
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>
  <div class="row">
    <div class="picture"></div>
    <span>HaltMaKurz</span>
    <button mat-fab color="primary" (click)="showArtist()">
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>
</div>
