@import "../../../../_palette.scss";

.artistContainer {
  h1 {
    color: map-get(map-get($primary, contrast), 600);
    text-decoration: underline;
    text-align: center;
  }

  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 1rem 1rem;

    background-color: map-get($primary, 50);
    border: solid 3px white;
    padding: 10px;
    border-radius: 15px;

    .picture {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: gray;
      margin-right: 10px;
    }

    span {
      color: map-get(map-get($primary, contrast), 50);
    }

    button {
      background-color: transparent;
      color: white;
      margin-right: 10px;
      box-shadow: none;
    }
  }
}
