@import "../../../../_palette.scss";

.artistWrapper {
  h1 {
    color: map-get(map-get($primary, contrast), 600);
    text-align: center;
  }

  .artistContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    .tab {
      display: none;

      .row-container {
        display: flex;
        flex-wrap: wrap;

        width: 100%;
      }

      .row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin: 0 1rem 1rem;

        background-color: map-get($primary, 50);
        border: solid 3px white;
        padding: 10px;
        border-radius: 15px;

        .picture {
          min-width: 100px;
          min-height: 100px;
          border-radius: 50%;
          margin-right: 1rem;
          background-color: gray;

          @media (max-width: 300px) {
            min-width: 70px;
            min-height: 70px;
          }
        }

        span {
          color: map-get(map-get($primary, contrast), 50);
          font-weight: bold;
        }

        button {
          background-color: transparent;
          color: white;
          margin-right: 10px;
          box-shadow: none;
        }
      }

      .invisible-row  {
        display: flex;
        margin: 0 1rem 1rem;

        border: solid 3px transparent;
        padding: 10px;

        .picture {
          width: 100px;
          height: 100px;
          margin-right: 1rem;
        }
      }
    }

    .tab.active {
      display: block;
    }

    .tabNavigation {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 1rem;

      button {
        background-color: map-get($primary, 50);
        color: map-get(map-get($primary, contrast), 600);
        border: solid 3px white;
        padding: 10px;
        border-radius: 50%;
        margin: 0 3rem;

        transition: transform 0.3s ease-in-out;

        &:hover {
          transform: scale(1.3);
        }
      }
    }
  }
}
