@import "../../../../_palette.scss";

h1 {
  color: map-get(map-get($primary, contrast), 600);
  text-decoration: underline;
  text-align: center;
}

.artistContainer {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;



  .leftSlider {
    margin-top: 45%;
    width: (100% / 7);

    button {
      background-color: transparent;
      color: white;
      margin-right: 10px;
      box-shadow: none;
    }
  }

  .artistContainerr {
    width: (100% / 7) * 5;

    .row {
      width: 90%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 1rem;

      background-color: map-get($primary, 50);
      border: solid 3px white;
      padding: 10px;
      border-radius: 15px;

      .picture {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: gray;
        margin-right: 10px;
      }

      span {
        color: map-get(map-get($primary, contrast), 50);
      }

      button {
        background-color: transparent;
        color: white;
        box-shadow: none;
      }
    }
  }



  .rightSlider {
    margin-top: 45%;
    width: (100% / 7);

    button {
      background-color: transparent;
      color: white;
      margin-right: 10px;
      box-shadow: none;
    }
  }
}
