
  <h1>Künstler</h1>
  <div class="artistContainer">


  <div class="leftSlider">
    <button mat-fab color="primary" (click)="showArtist()">
      <mat-icon>arrow_left</mat-icon>
    </button>
  </div>

    <div class="artistContainerr">
      <div class="row">
        <img src="../../../../assets/künstler/alicerose.jpg" alt="Artist" class="picture">
        <span>Alice Rose</span>
        <button mat-fab color="primary" (click)="showArtist()">
          <mat-icon>expand_more</mat-icon>
        </button>
      </div>
      <div class="row">
        <img src="../../../../assets/künstler/benjakob.jpg" alt="Artist" class="picture">    <span>BENJAKOB</span>
        <button mat-fab color="primary" (click)="showArtist()">
          <mat-icon>expand_more</mat-icon>
        </button>
      </div>
      <div class="row">
        <img src="../../../../assets/künstler/haltMaKurz.png" alt="Artist" class="picture">    <span>HaltMaKurz</span>
        <button mat-fab color="primary" (click)="showArtist()">
          <mat-icon>expand_more</mat-icon>
        </button>
      </div>
      <div class="row">
        <img src="../../../../assets/künstler/alicerose.jpg" alt="Artist" class="picture">
        <span>Alice Rose</span>
        <button mat-fab color="primary" (click)="showArtist()">
          <mat-icon>expand_more</mat-icon>
        </button>
      </div>
      <div class="row">
        <img src="../../../../assets/künstler/benjakob.jpg" alt="Artist" class="picture">    <span>BENJAKOB</span>
        <button mat-fab color="primary" (click)="showArtist()">
          <mat-icon>expand_more</mat-icon>
        </button>
      </div>
    </div>

  <div class="rightSlider">
    <button mat-fab color="primary" (click)="showArtist()">
      <mat-icon>arrow_right</mat-icon>
    </button>
  </div>
</div>
