<div class="map-container"
     leaflet
     [leafletOptions]="options"
     (leafletMapReady)="onMapReady($event)"
     (leafletClick)="mapClicked($event)">
  <div class="map-overlay" *ngIf="map">
    <button class="backToFestivalLocation" (click)="centerOnFestival()">
      <mat-icon>center_focus_strong</mat-icon>
      <span>TO FESTIVAL</span>
    </button>
    <div class="spacer"></div>
    <button class="toggleOwnLocation {{followPosition ? 'follow' : 'noFollow'}}" (click)="togglePositionButtonChanged()">
      <mat-icon>{{ followPosition ? 'gps_fixed' : 'gps_not_fixed' }}</mat-icon>
      <span>MY POSITION</span>
    </button>
    <div class="spacer"></div>
    <button class="legend" (click)="toggleLegend()">
      <mat-icon>info</mat-icon>
      <span>LEGEND</span>
    </button>
  </div>
</div>
