spring:
  config:
    activate:
      on-profile: dev
  jpa:
    hibernate:
      ddl-auto: update
  datasource:
    url: jdbc:mariadb://localhost:3306/streetbeatzlbdb
    username: streetbeatzlb_mariadb_admin
    password: streetbeatzlb
    driver-class-name: org.mariadb.jdbc.Driver
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: https://dev-decl55hw5iibzttr.eu.auth0.com/
application:
  audience: https://streetbeatzlb.de/auth/api
  client-origin-url: http://localhost:8080

server:
  error:
    whitelabel:
      enabled: false
  port: 8080