$secondary-color: purple; //mat.get-color-from-palette($mat-light-theme, accent, 500);

.performances-list {
  max-width: 1280px;
  border: rgba(0,0,0,0.12) solid 3px;
}

.performances-wrapper-desktop {
  display: flex;
  flex-direction: column;

  app-filter {
    flex: 1;
  }

  .performances-list {
    flex: 2;
  }
}

mat-divider {
  border-top-width: 5px;
}
