$secondary-color: purple; //mat.get-color-from-palette($mat-light-theme, accent, 500);

.markAllCheckbox {
  display: flex;
  justify-content: space-between;
  align-items: center;

  button {
    background-color: transparent;
    color: $secondary-color;
    margin: 0 5px;
    height: 150%;
    box-shadow: none;
  }
}

.performances-list {
  max-width: 1280px;
  border: rgba(0,0,0,0.12) solid 3px;
}

.performances-wrapper-desktop {
  display: flex;
  flex-direction: column;

  app-filter {
    flex: 1;
  }

  .performances-list {
    flex: 2;
  }
}

mat-divider {
  border-top-width: 5px;
}

.centered-text {
  text-align: center;
  @media screen and (max-width: 599.98px){
    font-size: 4.5vw;
  }

  @media screen and (min-width: 600px) and (max-width: 959.98px){
    font-size: 3.4vw;
  }

  @media screen and (min-width: 960px) and (max-width: 1279.98px){
    font-size: 3vw;
  }

  @media screen and (min-width: 1280px) {
    font-size: 1.6vw;
  }
}

.loadButton{
  @media screen and (max-width: 599.98px){
    margin-left: 3%;
    margin-right: 3%;
    width: 94%;
    font-size: 4.5vw;
  }

  @media screen and (min-width: 600px) and (max-width: 959.98px){
    margin-left: 3%;
    margin-right: 3%;
    width: 94%;
    font-size: 3.4vw;
  }

  @media screen and (min-width: 960px) and (max-width: 1279.98px){
    margin-left: 2%;
    width: 96%;
    font-size: 3vw;
  }

  @media screen and (min-width: 1280px) {
    margin-left: 1%;
    width: 98%;
    font-size: 1.6vw;
  }
}
