mat-toolbar {
  height: var(--navbar-height) !important;
  background-color: rgba(0,0,255,1);
}

.navbar{
  position: fixed;
  z-index: 2;

  .logoWrapper{
    height: 100%;
    width: 20%;
    .logo{
      height: 100%;
      width: 100%;
    }
  }

  .example-spacer{
    width: 80%;
  }

  .menuButton{
    height: 100%;
    width: 20%;
    .menu{
      height: 100%;
      width: 100%;
      font-size: 2.5rem;
    }
  }
}
