<div class="artist-info">
  <div class="artist-header">

    <h1>{{ artistName }}</h1>
  </div>
</div>

<!--
    <img [src]="artist.image" alt="Artist Image">
  <div class="social-icons">
    <a href="{{ artist.socialMedia.facebook }}" target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="{{ artist.socialMedia.twitter }}" target="_blank"><i class="fab fa-twitter"></i></a>
    <a href="{{ artist.socialMedia.instagram }}" target="_blank"><i class="fab fa-instagram"></i></a>
  </div>
  <p>{{ artist.info }}</p> -->
