.artist-info {
  margin-top: 20px;
}

.artist-header {
  display: flex;
  align-items: center;
}

.artist-header img {
  width: 200px;
  height: auto;
  margin-right: 20px;
}

.social-icons a {
  margin-right: 10px;
}

.social-icons i {
  font-size: 24px;
}

p {
  margin-top: 20px;
}
