@import "../../../_palette.scss";

$text-color: map-get(map-get($primary, contrast), 50);

@media screen and (min-width: 799px) {
  .artist-header {
    display: flex;
    align-items: center;

    img {
      width: 50vw;
      max-width: 350px;
      height: auto;
      margin: 0 7vw 0 5vw;
    }

    h1 {
      color: $text-color;
      font-size: 5vw;
    }
  }

  .artist-info {
    margin: 50px 5vw 0 5vw;

    p {
      font-size: 24px;
      color: $text-color;
    }
  }
}

@media screen and (max-width: 800px) {
  .artist-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .artist-header {
      img {
        width: 200px;
        height: auto;
      }

      h1 {
        margin-top: 10px;
        font-size: 24px;
        color: $text-color;
      }
    }

    .artist-info {
      p {
        margin: 20px 25px 0 25px;
        font-size: 16px;
        color: $text-color;
      }
    }
  }

}
