<div class="artist-info">
  <div class="artist-header">
    <img [src]="baseHref + 'assets/artists/' + artistNameImage + '.jpg'" alt="Artist Image">
    <h1>{{ artistName }}</h1>
  </div>
  <div class="artist-info">
    <p>{{ artistInfo }}</p>
  </div>
</div>

<!--
  <div class="social-icons">
    <a href="{{ artist.socialMedia.facebook }}" target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="{{ artist.socialMedia.twitter }}" target="_blank"><i class="fab fa-twitter"></i></a>
    <a href="{{ artist.socialMedia.instagram }}" target="_blank"><i class="fab fa-instagram"></i></a>
  </div>
   -->
